<ul>
    <li><a href="/admin/posts">Manage Posts</a></li>
    <li><a href="/admin/users">Manage Users</a></li>
    <li><a href="/admin/reports">Manage Reports</a></li>
    <li><a href="/">Back to the application</a></li>
    <li><a href="/account/logout">Log out</a></li>
</ul>