<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body {
            background-color: black;
            color: white;
        }

        .my-container {
            display: flex;
            justify-content: center;
        }

        .left, .right {
            width: 15%;
            float: left;
            margin: 10px;
            text-align: center;
        }

        .middle {
            width: 30%;
            float: left;
            margin: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="m-2 my-container">
        <div class="left" id="ToolsPartial"></div>
        <div class="middle">
            @RenderBody()
        </div>
        <div class="right" id="SuggestPartial"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/jscript">
        $(document).ready(function () {
            $("#ToolsPartial").load('/home/ToolsPartial');
        });

        $(document).ready(function () {
            $("#SuggestPartial").load('/home/SuggestPartial');
        });
    </script>

</body>
</html>