@model string

<i class="fa-solid fa-robot" onclick="location.href='/';"></i>
<br />
<div class="sidebar-option" onclick="location.href='/';">
    <span class="material-symbols-outlined">
        home
    </span>
    <h2>Home</h2>
</div>
<br />
<div class="sidebar-option" onclick="location.href='/@Model';">
    <span class="material-symbols-outlined">
        person
    </span>
    <h2>Profile</h2>
</div>
<br />
<div class="sidebar-option" onclick="location.href='/Account/Logout';">
    <span class="material-symbols-outlined">
        logout
    </span>
    <h2>Logout</h2>
</div>
<br />
<button onclick="location.href='/CreatePost';" class="sidebar-button">Bweep</button>
<span onclick="location.href='/CreatePost';" class="material-symbols-outlined sidebar-button__small">ink_pen</span>

