<!DOCTYPE html>
<html>
<head>
    <title>ThreadsASP - @ViewBag.Title</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: black;
            color: white;
        }

        .my-container {
            display: flex;
            justify-content: center;
        }

        .left, .right {
            width: 15%;
            float: left;
            margin: 10px;
        }

        .middle {
            width: 30%;
            float: left;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="my-container">
        <div class="left"></div>
        <div class="m-2 middle">
            @RenderBody()
        </div>
        <div class="right"></div>
    </div>
</body>
</html>