@page "{id}"
@using Microsoft.AspNetCore.Authorization;
@model EditorModel


<h5 class="bg-warning text-white text-center p-2">Edit User</h5>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input name="Id" type="hidden" value="@Model.Id"
               style="background-color:black; color:white" />
    </div>
    <div class="form-group">
        <label>User Name</label>
        <input name="UserName" class="form-control" value="@Model.UserName"
               style="background-color:black; color:white" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="Email" class="form-control" value="@Model.Email"
               style="background-color:black; color:white" />
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input name="Password" class="form-control" value="@Model.Password"
               style="background-color:black; color:white" />
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-warning">Submit</button>
        <a class="btn btn-secondary" asp-page="list">Back</a>
    </div>
</form>


@functions {
    [Authorize]
    public class EditorModel : PageModel
    {
        private SignInManager<ApplicationUser> signInManager;

        public UserManager<ApplicationUser> UserManager;

        public EditorModel(UserManager<ApplicationUser> usrManager, SignInManager<ApplicationUser> signInManager)
        {
            this.signInManager = signInManager;
            UserManager = usrManager;
        }

        [BindProperty]
        public string Id { get; set; } = string.Empty;

        [BindProperty]
        public string UserName { get; set; } = string.Empty;

        [BindProperty]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;

        [BindProperty]
        public string? Password { get; set; }

        public async Task<IActionResult> OnGetAsync(string id)
        {
            ApplicationUser user = await UserManager.FindByIdAsync(id);
            if (user.UserName != User.Identity?.Name)
            {
                return NotFound();
            }
            Id = user.Id; UserName = user.UserName; Email = user.Email;
            return Page();
        }
        
        public async Task<IActionResult> OnPostAsync()
        {
            if (ModelState.IsValid)
            {
                ApplicationUser user = await UserManager.FindByIdAsync(Id);
                user.UserName = UserName;
                user.Email = Email;
                IdentityResult result = await UserManager.UpdateAsync(user);
                if (result.Succeeded && !String.IsNullOrEmpty(Password))
                {
                    await UserManager.RemovePasswordAsync(user);
                    result = await UserManager.AddPasswordAsync(user, Password);
                }
                if (result.Succeeded)
                {
                    await signInManager.SignOutAsync();
                    return RedirectToPage("Login");
                }
                foreach (IdentityError err in result.Errors)
                {
                    ModelState.AddModelError("", err.Description);
                }
            }
            return Page();
        }
    }
}