@page
@model LogoutModel
@{
    ViewBag.Title = "Log out";
}


<div class="container">
    <h2>You are logged out</h2>
    <button class="login-btn" onclick="location.href='/Account/Login';">OK</button>
</div>


@functions {
    public class LogoutModel : PageModel
    {
        private SignInManager<ApplicationUser> _signInManager;
        
        public LogoutModel(SignInManager<ApplicationUser> signInManager)
        {
            _signInManager = signInManager;
        }
        
        public async Task OnGetAsync()
        {
            await _signInManager.SignOutAsync();
        }
    }
}