@model Post
@{
    ViewBag.Title = "Create Post";
}

<div class="main-body__border">
    <div class="page-header">
        <h2>Bweep!</h2>
    </div>

    <div class="bweep-box">
        <form method="post" enctype="multipart/form-data">
            <div class="user-input">
                <img src="/images/@Model.AppUser?.ProfileImgName" />
                <textarea type="text" placeholder="What is happening?!" required maxlength="300"
                          name="TextArea" autofocus>@Model?.Text</textarea>
            </div>

            <div style="display: flex">
                <span class="material-symbols-outlined image-icon">
                    image
                    <input type="file" accept="image/*" name="file" />
                </span>

                <button type="submit" class="bweep-button">Bweep</button>
            </div>
        </form>
    </div>
</div>
