@model Post


<div class="container">
    <div class="left">
        <partial name="_ToolsPartial" model="@Model?.UserName"/>
    </div>
    <div class="middle">
        <h1>Create Post</h1>
        <form method="post">
            <input asp-for="Id" type="hidden"/>
            <div class="form-group">
                <textarea style="max-height:200px; height:200px; background-color:black; color:white; resize:none"
                          type="text" name="TextArea" maxlength="300" class="form-control" placeholder="Type some text!" 
                          autofocus required>@Model?.Text</textarea>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Post</button>
        </form>
    </div>
    <div class="right">
        <partial name="_FollowingPartial" />
    </div>
</div>