@model UserPostViewModel

<style>
    div.block {
        width: 100%;
        word-wrap: break-word;
    }

   #rcorners1 {
        border-radius: 25px;
        border: 2px solid grey;
        padding: 20px;
    }

    #rcornersImage {
        border-radius: 30px;
        padding: 20px;
    }
</style>

<div class="container">
    <div class="left">
        <partial name="_ToolsPartial" model="@Model.CurrentUser?.UserName" />
    </div>
    <div class="middle">
        <h1>Feed</h1>
        @foreach (var p in Model.Posts ?? Enumerable.Empty<Post>())
        {
            <div style="text-align:left" class="block m-2" id="rcorners1">
                <a class="link-info" href="/@p.PostUserName"><strong>@p.PostUserName</strong></a>
                <div>@p.Text</div>
                @if (p.ImgName != null)
                {
                    <div>
                        <img style="max-height:400px; max-width:600px; height:100%; width:100%" id="rcornersImage" src="/images/@p.ImgName">
                    </div>
                }
                <div style="text-align:right">@p.Date</div>
            </div>
        }
    </div>
    <div class="right">
        <partial name="_FollowingPartial" />
    </div>
</div>