@model HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="main-body__border">
    <div class="page-header">
        <h2>Home</h2>
    </div>

    @foreach (var p in Model.Posts ?? Enumerable.Empty<Post>())
    {
        <div class="post">
            <div class="avatar" onclick="location.href='/@p.AppUser.UserName';">
                <img src="/images/@p.AppUser.ProfileImgName" />
            </div>

            <div class="body">
                <div class="header">
                    <div class="user" onclick="location.href='/@p.AppUser.UserName';">
                        <h3 class="full-name">@p.AppUser.FirstName @p.AppUser.LastName</h3>
                        <span class="material-symbols-outlined verified-icon">
                            verified
                        </span>
                        <p class="username-date">@@@p.AppUser.UserName · @p.Date<p />
                    </div>
                    <div class="text">
                        <p>@p.Text</p>
                    </div>
                </div>
                @if (p.ImgName != null)
                {
                    <img onclick="window.open('/images/@p.ImgName', '_blank')" src="/images/@p.ImgName" />
                }
            </div>
        </div>
    }
</div>
