@model string

<div class="main-body__border">
    <div class="page-header">
        <h2>@Model</h2>
    </div>

    <h1 style="text-align: center; border-bottom: 1px solid #E1E8ED;">Sorry, this user is blocked :/</h1>
</div>